{% extends "diary/base.html" %}
{% block content %}
<style>
.single-card {
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card:hover {
  box-shadow: var(--shadow-4);
}
.single-card .card-image img {
  width: 100%;
  height: 100%;
}
.single-card .card-content {
  padding: 16px;
}
.single-card .card-content .card-title {
  margin-bottom: 0;
}
.single-card .card-content .card-title a {
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-card .card-content .card-title a:hover {
  color: var(--primary);
}
.single-card .card-content .text {
  color: var(--dark-3);
  margin-top: 8px;
}
</style>
<!--====== CARD PART START ======-->
<section class="card-area pb-5">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-card card-style-one">
               <div class="card-image">
                  <img src="\static\3-1.jpg" alt="Image" />
               </div>
               <div class="card-content">
                  <h4 class="card-title">
                     <a href="http://localhost:8000/diary/4/">날짜가 들어올 자리</a>
                  </h4>
                  <p class="text">
                     사진의 키워드가 들어올 자리
                  </p>
               </div>
            </div>
            <!-- single-card -->
         </div>
         <!-- col -->
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-card card-style-one">
               <div class="card-image">
                  <img src="\static\3.png" alt="Image" />
               </div>
               <div class="card-content">
                  <h4 class="card-title">
                     <a href="javascript:void(0)">날짜가 들어올 자리</a>
                  </h4>
                  <p class="text">
                     사진의 키워드가 들어올 자리
                  </p>
               </div>
            </div>
            <!-- single-card -->
         </div>
         <!-- col -->
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="single-card card-style-one">
               <div class="card-image">
                  <img src="\static\4-1.jpg" alt="Image" />
               </div>
               <div class="card-content">
                  <h4 class="card-title">
                     <a href="javascript:void(0)">{{ memory.created_at}}</a>
                  </h4>
                  <p class="text">
                     사진의 키워드가 들어올 자리
                  </p>
               </div>
            </div>
            <!-- single-card -->
         </div>
         <!-- col -->
      </div>
      <!-- row -->
   </div>
   <!-- container -->

</section>
<!--====== CARD PART ENDS ======-->
{% endblock %}
