{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class ="container">
    <div class ="row">
        <div class ="col-12">
    <form action="" method="post" novalidate>
        {% csrf_token %}
         <section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-4t" data-rv-view="10803">
             <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h4>단어로 일기 쓰기</h4> <br/>
                <h5>
                    오늘 하루 생각나는 단어들을 입력해주세요
                </h5>
            </div>
        </div>
    </div>
             <br/>
                <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
<!--      날씨 선택 라디오 버튼 그룹-->
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="" value="Sunny">
      <label class="btn btn-outline-primary" for="btnradio1"> <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="100" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
       </svg>
        </span>

      </label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="Clody">
      <label class="btn btn-outline-primary" for="btnradio2">
      <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6.657 18c-2.572 0 -4.657 -2.007 -4.657 -4.483c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 .996c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927 -1.551 3.487 -3.465 3.487h-11.878"></path>
       </svg>
      </span></label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="Rainy">
      <label class="btn btn-outline-primary" for="btnradio3"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-umbrella" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 12a8 8 0 0 1 16 0z"></path>
          <path d="M12 12v6a2 2 0 0 0 4 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="Snowy">
      <label class="btn btn-outline-primary" for="btnradio4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-snowman" width="100" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3a4 4 0 0 1 2.906 6.75a6 6 0 1 1 -5.81 0a4 4 0 0 1 2.904 -6.75z"></path>
        <path d="M17.5 11.5l2.5 -1.5"></path>
        <path d="M6.5 11.5l-2.5 -1.5"></path>
        <path d="M12 13h.01"></path>
        <path d="M12 16h.01"></path>
     </svg></label>


    </div>

 <br>
        <br>



<!--감정 라디오 버튼-->


 <div class="btn-group" role="group" aria-label="Basic radio toggle button group">


    <input type="radio" class="btn-check" name="b_btnradio" id="btnradi2" autocomplete="off" checked="" value="Cheerful">
    <label class="btn btn-outline-primary" for="btnradi2"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-xd" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="12" cy="12" r="9"></circle>
      <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
      <path d="M9 14h6a3 3 0 1 1 -6 0z"></path>
      <path d="M9 8l6 3"></path>
      <path d="M9 11l6 -3"></path>
   </svg></label>


      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi1" autocomplete="off" value="Happy">
      <label class="btn btn-outline-primary" for="btnradi1"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="9" x2="9.01" y2="9"></line>
          <line x1="15" y1="9" x2="15.01" y2="9"></line>
          <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
       </svg>
        </span></label>



      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi3" autocomplete="off" value="Neutral">
      <label class="btn btn-outline-primary" for="btnradi3"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-empty" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="9" y1="10" x2="9.01" y2="10"></line>
        <line x1="15" y1="10" x2="15.01" y2="10"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
     </svg></label>

      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi4" autocomplete="off" value="Depressed">
      <label class="btn btn-outline-primary" for="btnradi4"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-sad" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="10" x2="9.01" y2="10"></line>
          <line x1="15" y1="10" x2="15.01" y2="10"></line>
          <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi5" autocomplete="off" value="Angry">
      <label class="btn btn-outline-primary" for="btnradi5"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-angry" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
        <path d="M8 9l2 1"></path>
        <path d="M16 9l-2 1"></path>
        <path d="M14.5 16.05a3.5 3.5 0 0 0 -5 0"></path>
     </svg></label>
 </div>
                <br/><br/>
        <!-- 화풍 선택 드롭다운 -->
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">화풍</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>원하시는 화풍을 선택해주세요</option>
    <option value="1">디지털 아트</option>
    <option value="2">유화</option>
    <option value="3">스케치</option>
      <option value="3">인상주의</option>
  </select>
</div>
<!-- 이자리에 form template 넣어야 함! -->
<div class="input-group" style="height: auto; min-height: 100px; overflow: auto;">
  <span class="input-group-text">단어를 입력해주세요</span>
  <input type="text" aria-label="content1" class="form-control">
  <input type="text" aria-label="content2" class="form-control">
    <input type="text" aria-label="content3" class="form-control">
</div>

        <br>
        <br>

<input type="submit" class="btn btn-primary btn-lg" value="자동 생성" />

<!--자동 생성-->

<!--            <button type="button" class="btn btn-primary" href="/diary/">그림 생성</button>-->
          </div>
        </div>
      </div>
            </section>

    </form>
        </div>
    </div>
</div>

{% endblock %}


<!--    <h4>{{ kmemory.created_at }}</h4>-->

<!--    <p>{{ kmemory.weather }}</p>-->
<!--    <p>{{ kmemory.content1 }}</p>-->

<!--    <p>{{ kmemory.content1 }}</p>-->
<!--    <p>{{ kmemory.content2 }}</p>-->
<!--    <p>{{ kmemory.content3 }}</p>-->