{% extends "diary/base.html" %}

{% block content %}
<br/>
<div class ="container" style="font-family: 'MaruBuri-Regular'";>
            <div class="col-md-12>
<div class="col-md-6">
                {% if keyword_post.head_image %}
            <img src="{{ keyword_post.head_image.url }}" style="float: left;width:800 px; height:500px;"/>
                {% endif %}
  <!-- Card Start -->
  <div class="card" style="font-family: 'KyoboHandwriting2020A'";>
    <div class="row ">
      <div class="col-md-12" style="height:500px;">
        <div class="card-block px-1" style="text-align:center;">
          <br/><h3 class="card-title">{{ keyword_post.create_dat }} / {{ keyword_post.Weather }} / {{ keyword_post.Emotion }}</h3><hr/>
            <br/><h1>{{ keyword_post.content1 }}, {{ keyword_post.content2 }}, {{ keyword_post.content3 }}</h1>
                <br/>
<!--            <h3>{{ KeywordPost.content }}</h3>-->

          <br>
        </div>
      </div>
</div>
      </div>

<!-- End of card -->
<hr>

            <a class="btn btn-primary" href="/diary/keyword/{{ keyword_post.pk }}/edit/" role="button">수정</a>
            <a class="btn btn-primary" href="/diary/keyword/{{ keyword_post.pk }}/delete/" role="button">삭제</a>
            <a class="btn btn-primary" href="/diary/" role="button">일기 작성 페이지로</a>
</div>
</div>
{% endblock %}
