{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>
body {
   background-color:#FFF0F0;
}
a:link {
  color : black;
}
a:visited {
  color : black;
}
a:hover {
  color : black;
}
a:active {
  color : black;
}
</style>
<div class ="container" style="font-family: 'MaruBuri-Regular'";>
    <div class ="row">
        <div class ="col-12">
    <form action="" method="post" id="memory-form">
        {% csrf_token %}
        <section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-4t" data-rv-view="10803">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <div class="row justify-content-center" style="text-align:center;">
            <div class="title col-12">
                <br/><h1><b>긴 글로 일기 쓰기</b></h1><br/>
                <h3>
                    <b>오늘 하루 있었던 일을 편하게 써주세요</b>
                </h3>
            </div>
        </div>
    </div><br/><br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                                {% if form.errors %}
              <div class="alert alert-danger">
                {{ form.errors }}
              </div>
            {% endif %}
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="Weather" id="Sunny" autocomplete="off" value="맑음" checked=""{% if form.instance.pk %}{% if form.instance.Weather == "맑음" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Sunny"> <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="100" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
       </svg>
        </span>

      </label>

      <input type="radio" class="btn-check" name="Weather" id="Cloudy" autocomplete="off" value="흐림" {% if form.instance.pk %}{% if form.instance.Weather == "흐림" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Cloudy">
      <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6.657 18c-2.572 0 -4.657 -2.007 -4.657 -4.483c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 .996c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927 -1.551 3.487 -3.465 3.487h-11.878"></path>
       </svg>
      </span></label>

      <input type="radio" class="btn-check" name="Weather" id="Rainy" autocomplete="off" value="비" {% if form.instance.pk %}{% if form.instance.Weather == "비" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Rainy"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-umbrella" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 12a8 8 0 0 1 16 0z"></path>
          <path d="M12 12v6a2 2 0 0 0 4 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="Weather" id="Snowy" autocomplete="off" value="눈" {% if form.instance.pk %}{% if form.instance.Weather == "눈" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Snowy">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-snowman" width="100" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3a4 4 0 0 1 2.906 6.75a6 6 0 1 1 -5.81 0a4 4 0 0 1 2.904 -6.75z"></path>
        <path d="M17.5 11.5l2.5 -1.5"></path>
        <path d="M6.5 11.5l-2.5 -1.5"></path>
        <path d="M12 13h.01"></path>
        <path d="M12 16h.01"></path>
     </svg></label>

    </div>
 <br>
        <br>
<!--  감정 라디오 버튼-->


 <div class="btn-group" role="group" aria-label="Basic radio toggle button group">


    <input type="radio" class="btn-check" name="Emotion" id="Cheerful" autocomplete="off" value="쾌활" checked=""{% if form.instance.pk %}{% if form.instance.Emotion == "쾌활" %} checked="" {% endif %}{% endif %}>
    <label class="btn btn-outline-danger" for="Cheerful"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-xd" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="12" cy="12" r="9"></circle>
      <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
      <path d="M9 14h6a3 3 0 1 1 -6 0z"></path>
      <path d="M9 8l6 3"></path>
      <path d="M9 11l6 -3"></path>
   </svg></label>


      <input type="radio" class="btn-check" name="Emotion" id="Happy" autocomplete="off" value="기쁨" {% if form.instance.pk %}{% if form.instance.Emotion == "기쁨" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Happy"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="9" x2="9.01" y2="9"></line>
          <line x1="15" y1="9" x2="15.01" y2="9"></line>
          <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
       </svg>
        </span></label>



      <input type="radio" class="btn-check" name="Emotion" id="Neutral" autocomplete="off" value="보통" {% if form.instance.pk %}{% if form.instance.Emotion == "보통" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Neutral"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-empty" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="9" y1="10" x2="9.01" y2="10"></line>
        <line x1="15" y1="10" x2="15.01" y2="10"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
     </svg></label>

      <input type="radio" class="btn-check" name="Emotion" id="Depressed" autocomplete="off" value="우울" {% if form.instance.pk %}{% if form.instance.Emotion == "우울" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Depressed"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-sad" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="10" x2="9.01" y2="10"></line>
          <line x1="15" y1="10" x2="15.01" y2="10"></line>
          <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="Emotion" id="Angry" autocomplete="off" value="화남" {% if form.instance.pk %}{% if form.instance.Emotion == "화남" %} checked="" {% endif %}{% endif %}>
      <label class="btn btn-outline-danger" for="Angry"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-angry" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
        <path d="M8 9l2 1"></path>
        <path d="M16 9l-2 1"></path>
        <path d="M14.5 16.05a3.5 3.5 0 0 0 -5 0"></path>
     </svg>
      </label>
</div>
                <br/><br/>
    <!-- 화풍 선택 드롭다운 -->
        <div class="input-group mb-3">
  <label class="input-group-text" for="drawing_choices" style="font-size:20px;"><b>그림에 적용할 화풍을 선택해주세요</b></label>
  <select class="form-select" id="drawing_choices" name ="Drawing" style="font-size:20px;">
    <option  value="디지털 아트" {% if form.instance.pk %}{% if form.instance.Drawing == "디지털 아트" %}selected{% endif %}{% endif %}><b3>디지털 아트</b3></option>
    <option value="MZ세대 스타일" {% if form.instance.pk %}{% if form.instance.Drawing == "MZ세대 스타일" %}selected{% endif %}{% endif %}><b3>MZ세대 스타일</b3></option>
    <option value="유화"{% if form.instance.pk %}{% if form.instance.Drawing == "유화" %}selected{% endif %}{% endif %}><b3>유화</b3></option>
    <option value="스케치"{% if form.instance.pk %}{% if form.instance.Drawing == "스케치" %}selected{% endif %}{% endif %}><b3>스케치</b3></option>
      <option value="인상주의"{% if form.instance.pk %}{% if form.instance.Drawing == "인상주의" %}selected{% endif %}{% endif %}><b3>인상주의</b3></option>
  </select>
</div><br/>
                <div class="text-danger">
{{ form.Drawing.errors }}
</div>
<!-- 이자리에 form template 넣어야 함! -->
<div class="input-group" style="height: auto; min-height: 100px; overflow: auto;text-align:center;font-family: 'KyoboHandwriting2020A';">
  <span class="input-group-text" style="font-size:15px;">단어를 입력해주세요</span>
  <input type="text" aria-label="content1" class="form-control" name="content1" style="font-size:40px;text-align:center;">
  <input type="text" aria-label="content2" class="form-control" name="content2" style="font-size:40px;text-align:center;">
    <input type="text" aria-label="content3" class="form-control" name="content3" style="font-size:40px;text-align:center;">
</div>
                <div class="container">
                    <div class="col-12">
         <span class="input-group-btn" style="background-color:red">
                            <br/>
                            {% if not form.instance.pk %}
                              <input type="submit" class="btn btn-danger btn-lg" value="그림 그리기" />
                            {% else %}
                              <input type="submit" class="btn btn-danger btn-lg" value="수정"/>
                            {% endif %}
                        </span>
                </div>
                    </div>
                <br/>
                        </div>
            </div>
        </div>


<!--자동 생성-->

<!--            <button type="button" class="btn btn-primary" href="/diary/">그림 생성</button>-->
        </section>
    </form>
    </div>
    </div>
</div>

{% endblock %}


