{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<style>

</style>
<div class ="container">
    <div class ="row">
        <div class ="col-12">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-4t" data-rv-view="10803">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h4>긴 글로 일기 쓰기</h4>
                <h5 >
                    오늘 하루 있었던 일을 편하게 써주세요
                </h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">

                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="Weather" id="Sunny" autocomplete="off" checked="" value="Sunny">
      <label class="btn btn-outline-primary" for="Sunny"> <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="100" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
       </svg>
        </span>

      </label>

      <input type="radio" class="btn-check" name="Weather" id="Cloudy" autocomplete="off" value="Cloudy">
      <label class="btn btn-outline-primary" for="Cloudy">
      <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6.657 18c-2.572 0 -4.657 -2.007 -4.657 -4.483c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 .996c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927 -1.551 3.487 -3.465 3.487h-11.878"></path>
       </svg>
      </span></label>

      <input type="radio" class="btn-check" name="Weather" id="Rainy" autocomplete="off" value="Rainy">
      <label class="btn btn-outline-primary" for="Rainy"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-umbrella" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 12a8 8 0 0 1 16 0z"></path>
          <path d="M12 12v6a2 2 0 0 0 4 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="Weather" id="Snowy" autocomplete="off" value="Snowy">
      <label class="btn btn-outline-primary" for="Snowy">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-snowman" width="100" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3a4 4 0 0 1 2.906 6.75a6 6 0 1 1 -5.81 0a4 4 0 0 1 2.904 -6.75z"></path>
        <path d="M17.5 11.5l2.5 -1.5"></path>
        <path d="M6.5 11.5l-2.5 -1.5"></path>
        <path d="M12 13h.01"></path>
        <path d="M12 16h.01"></path>
     </svg></label>

    </div>
 <br>
        <br>
<!--  감정 라디오 버튼-->


 <div class="btn-group" role="group" aria-label="Basic radio toggle button group">


    <input type="radio" class="btn-check" name="Emotion" id="Cheerful" autocomplete="off" checked="" value="Cheerful">
    <label class="btn btn-outline-primary" for="Cheerful"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-xd" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="12" cy="12" r="9"></circle>
      <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
      <path d="M9 14h6a3 3 0 1 1 -6 0z"></path>
      <path d="M9 8l6 3"></path>
      <path d="M9 11l6 -3"></path>
   </svg></label>


      <input type="radio" class="btn-check" name="Emotion" id="Happy" autocomplete="off" value="Happy">
      <label class="btn btn-outline-primary" for="Happy"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="9" x2="9.01" y2="9"></line>
          <line x1="15" y1="9" x2="15.01" y2="9"></line>
          <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
       </svg>
        </span></label>



      <input type="radio" class="btn-check" name="Emotion" id="Neutral" autocomplete="off" value="Neutral">
      <label class="btn btn-outline-primary" for="Neutral"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-empty" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="9" y1="10" x2="9.01" y2="10"></line>
        <line x1="15" y1="10" x2="15.01" y2="10"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
     </svg></label>

      <input type="radio" class="btn-check" name="Emotion" id="Depressed" autocomplete="off" value="Depressed">
      <label class="btn btn-outline-primary" for="Depressed"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-sad" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="10" x2="9.01" y2="10"></line>
          <line x1="15" y1="10" x2="15.01" y2="10"></line>
          <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="Emotion" id="Angry" autocomplete="off" value="Angry">
      <label class="btn btn-outline-primary" for="Angry"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-angry" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
        <path d="M8 9l2 1"></path>
        <path d="M16 9l-2 1"></path>
        <path d="M14.5 16.05a3.5 3.5 0 0 0 -5 0"></path>
     </svg>
      </label>
</div>
                <br/><br/>
    <!-- 화풍 선택 드롭다운 -->
        <div class="input-group mb-3">
  <label class="input-group-text" for="drawing_choices">화풍</label>
  <select class="form-select" id="drawing_choices" name ="Drawing">
    <option selected value="Digital Art">디지털 아트</option>
    <option value="Vaper Wave">MZ세대 스타일</option>
    <option value="Oil and Canvas">유화</option>
    <option value="Sketched">스케치</option>
      <option value="Impressionism">인상주의</option>
  </select>
</div>

                   <!-- <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                        <input type="hidden" data-form-email="true" value="6P93kNKo0YMrlhki4aqAh6kWEOLpuhFCYRe6n1FvaZgJ/pa39BUyHBYCW4WA4rZvUr5K4HMIOOmyetX9vVlNIOE3Nf/x57GRMvbDPtNT2dl1hbyF3plFTnLCQuB9fjD/">
                        <div class="row row-sm-offset">
                        </div>
                        <br/>
                        -->

                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="content">일기 내용</label><br/>
                            <textarea type="text" class="form-control" name="content" rows="6" data-form-field="Message" id="content"></textarea>
                        </div>

                        <span class="input-group-btn">
                            <br/>
                            <button class="btn btn-primary btn-lg" type="submit">자동생성</button>
                        </span>
                        <button
      type="button"
      class="btn btn-primary btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#goModal"
      data-bs-whatever=""
    >
      직접 생성
    </button>

    <div
      class="modal fade"
      id="goModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
             직접 생성
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" novalidate>
              <div class="mb-3">
                <label for="content" class="col-form-label">원하는 그림을 한 문장으로 작성해주세요. </label>
                  <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2">20자 이내</label>
                  </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
              <input type="submit" class="btn btn-primary" value="그림 생성" />
            </div>
        </div>
    </div>
    </div>
        </section>

    </form>
        </div>
    </div>
</div>
{% endblock %}
