{% extends "diary/base.html" %}

{% block content %}
<div class ="container">
    <div class ="row">
        <div class ="col-8">

            <h4>작성시간</h4>
            <h5>{{ memory.created_at}}</h5>
            <hr/>
                {% if memory.head_image %}
            <img src="{{ memory.head_image.url }}" alt="{{ p }} head image">
                {% endif  %}
            <br/>
    <h2>{{ memory.title }}</h2>
    <br/>
    {{ memory.content }}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <hr>
            <a class="btn btn-primary" href="/diary/{{ memory.pk }}/edit/" role="button">수정</a>
            <a class="btn btn-primary" href="/diary/{{ memory.pk }}/delete/" role="button">삭제</a>
            <a class="btn btn-primary" href="/diary/" role="button">일기 작성 페이지로</a>
<!--    <a href="/diary/{{ memory.pk }}/edit/">수정</a>-->
<!--    <a href="/diary/{{ memory.pk }}/delete/">삭제</a>-->
<!--    <a href="/diary/">일기 작성 페이지로</a>-->
        </div>
    </div>
</div>
{% endblock %}
