{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/52f1c1721d.js" crossorigin="anonymous"></script>
    <title>하루 그림</title>
    {% bootstrap_css %}

</head>
    <style>
        body { background-color: #C0FFFF; }
    </style>
    <style type="text/css">

    body { color:#000000; }

    </style>
<body class="d-flex flex-column min-vh-100">


<!-- 사이드바 -->
<!--<nav class="navbar navbar-light bg-light fixed-top">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Offcanvas navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">-->
<!--      <div class="offcanvas-header">-->
<!--        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>-->
<!--        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="offcanvas-body">-->
<!--        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Link</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Dropdown-->
<!--            </a>-->
<!--            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">-->
<!--              <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--              <li>-->
<!--                <hr class="dropdown-divider">-->
<!--              </li>-->
<!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!-- 사이드바 끝-->

<!-- header -->
<!--<div class="container">-->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color:#28E7FF	">
        <i class="fa-regular fa-book-heart"></i>
        <a href="http://localhost:8000/home/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            &nbsp&nbsp&nbsp&nbsp<i class="far fa-edit"></i> &nbsp
            <span class="fs-4">하루 그림</span>
        </a>

        <ul class="nav nav-pills">

            <li class="nav-item"><a href="/diary/" class="nav-link">일기작성</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                일기보기
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/diary/gallery">갤러리</a>
                    <li><a class="dropdown-item" href="/diary/calendar/">캘린더</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="http://localhost:8000/diary/info/" class="nav-link">도움말</a></li>
            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="/accounts/login/" class="nav-link">로그인</a></li>
            {% else %}
                <li class="nav-item"><a href="/accounts/profile/" class="nav-link">회원정보</a></li>
                <li class="nav-item"><a href="/accounts/logout/" class="nav-link">로그아웃</a></li>
            {% endif %}
        </ul>
    </header>
</div>

    {% bootstrap_messages %}

    {% block content %}{% endblock %}



{% bootstrap_javascript %}
</body>
<footer class="bg-light text-center text-lg-start mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #79FFCE;">
    © 2022. Haru Grim Co.
  </div>
  <!-- Copyright -->
</footer>
</html>
